/*Project Colors*/
/*Screen size variables*/
/*Project button mixins*/
/*Project screen-size mixins*/
.header {
  display: flex;
  flex-wrap: wrap;
  background-color: #011827;
  align-items: center;
}
.header .header__container {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1.3rem 1rem;
}
@media screen and (min-width: 1280px) {
  .header .header__container {
    align-items: flex-end;
  }
}
.header .header__text {
  font-size: 0.8rem;
  color: white;
  width: 3.5rem;
  margin: 0rem 0rem 0rem 0.5rem;
}
@media screen and (min-width: 1280px) {
  .header .header__text {
    width: auto;
    font-size: 1.4rem;
  }
}
.header .navigation {
  display: none;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .header .navigation {
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 0.3rem;
  }
}
.header .navigation ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
  align-items: center;
}
.header .navigation li {
  padding: 0.5rem;
}
.header .navigation a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 0.85rem;
}
.header .navigation a:hover {
  color: #8acfe5;
}

.introduction .introduction__image__mobile {
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .introduction .introduction__image__mobile {
    display: none;
  }
}
.introduction .introduction__image__desktop {
  display: none;
}
@media screen and (min-width: 1280px) {
  .introduction .introduction__image__desktop {
    display: block;
    width: 100%;
  }
}
.introduction .introduction__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
@media screen and (min-width: 1280px) {
  .introduction .introduction__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    transform: translateY(-2.2rem);
  }
}
.introduction .introduction__onsite {
  background-color: #8acfe5;
  padding: 0.7rem 2.15rem;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  color: black;
}
.introduction .introduction__online {
  text-decoration: underline;
  background-color: white;
  border: none;
  padding: 1rem;
  color: #36769d;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.6rem;
}
@media screen and (min-width: 1280px) {
  .introduction .introduction__online {
    background-color: #e3170a;
    color: white;
    padding: 0.7rem 2.32rem;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    order: -1;
  }
}
.introduction .reviews {
  padding: 1rem;
  max-width: 20rem;
  margin: 0 auto;
}
.introduction .reviews .review__second {
  display: none;
}
.introduction .review__first,
.introduction .review__second {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  gap: 0.5rem;
  flex: 1;
}
.introduction .review__first .review__user,
.introduction .review__second .review__user {
  grid-row: 1/1;
}
.introduction .review__first .review__content,
.introduction .review__second .review__content {
  display: flex;
  flex-direction: column;
}
.introduction .review__first .review__text,
.introduction .review__second .review__text {
  margin: 0;
  font-size: 0.8rem;
  font-style: italic;
}
.introduction .review__first .review__date,
.introduction .review__second .review__date {
  margin: 0;
  font-size: 0.6rem;
  margin-top: 0.2rem;
}
@media screen and (min-width: 1280px) {
  .introduction .review__first .review__date,
  .introduction .review__second .review__date {
    width: 70%;
  }
}
@media screen and (min-width: 1280px) {
  .introduction .reviews {
    max-width: 1200px;
    margin: 0 auto;
  }
  .introduction .reviews .review__second {
    display: grid;
  }
  .introduction .reviews__container {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 3rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
}
.content .content__heading {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 400;
  margin: 2rem 0rem 0.5rem 0rem;
}
@media screen and (min-width: 1280px) {
  .content .content__heading {
    font-size: 1.3rem;
    margin: 2rem 0rem 3rem 0rem;
  }
}
.content .content__room__container {
  display: flex;
  overflow-x: auto;
  gap: 1.4rem;
  padding: 1rem;
  margin-left: 0.9rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.content .content__room__container::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 1280px) {
  .content .content__room__container {
    overflow-x: hidden;
    margin: 0 auto;
    justify-content: space-evenly;
    max-width: 1280px;
  }
}
.content .room__img {
  width: 100%;
}
.content .room {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
  border-radius: 0.4rem;
  width: 13rem;
}
@media screen and (min-width: 1280px) {
  .content .room {
    margin: 0;
  }
}
.content .room__heading {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding-left: 0.5rem;
}
.content .room__stars {
  display: flex;
  align-items: center;
  padding: 0 0 0 0.6rem;
  gap: 0.3rem;
}
.content .room_participants {
  font-size: 0.5rem;
  margin: 0;
  padding: 0.2rem;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .content .room_participants {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 0.2rem;
  }
}
.content .room__info {
  font-size: 0.6rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  margin: 0;
}
.content .room__button__container {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}
.content .room__button {
  background-color: #e3170a;
  font-size: 0.6rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.4rem 1.2rem;
}
.content .content__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.7rem;
  margin-bottom: 0.3rem;
}
@media screen and (min-width: 1280px) {
  .content .content__navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 3.1rem;
    margin: 1.4rem 0rem 0rem 0rem;
  }
}
.content .content__navigation__button {
  background-color: #8acfe5;
  padding: 0.7rem 2.15rem;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  color: black;
}
.content .content__navigation__link {
  text-decoration: underline;
  background-color: white;
  border: none;
  padding: 1rem;
  color: #36769d;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.6rem;
}
@media screen and (min-width: 1280px) {
  .content .content__navigation__link {
    background-color: #e3170a;
    color: white;
    padding: 0.7rem 2.32rem;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    order: -1;
  }
}
.content .content__story {
  background-color: #011827;
}
.content .story__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 1rem 3rem 1rem;
}
@media screen and (min-width: 1280px) {
  .content .story__container {
    padding: 4.2rem 1rem 7rem 1rem;
  }
}
.content .story__container .story__text {
  font-size: 1rem;
  color: white;
  font-weight: 400;
  text-align: center;
  padding: 0.8rem 0.5rem;
}
@media screen and (min-width: 1280px) {
  .content .story__container .story__text {
    width: 21rem;
  }
}
.content .story__container .story__button {
  background-color: #011827;
  border: 2px solid #8acfe5;
  padding: 0.7rem 2.22rem;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  color: #8acfe5;
}

@media screen and (min-width: 1280px) {
  .play .play__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 6.6rem;
  }
}
.play .first__play__container {
  padding: 0.8rem;
}
@media screen and (min-width: 1280px) {
  .play .first__play__container {
    grid-column: 2/2;
    grid-row: 1/1;
    display: block;
    margin: auto;
  }
}
.play .play__firstImg,
.play .play__secondImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.play .play__friends__firstHeading,
.play .play__friends__secondHeading {
  font-size: 1.1rem;
  margin: 0 0 1rem 0;
}
@media screen and (min-width: 1280px) {
  .play .play__friends__firstHeading,
  .play .play__friends__secondHeading {
    width: 14rem;
    margin-top: 1rem;
  }
}
.play .play__friends__firstText,
.play .play__friends__secondText {
  font-size: 0.8rem;
  margin: 0 0 1rem 0;
}
@media screen and (min-width: 1280px) {
  .play .play__friends__firstText,
  .play .play__friends__secondText {
    width: 14rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.play .play__friends__book,
.play .play__friends__challenges {
  background-color: #e3170a;
  font-size: 0.85rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  color: white;
  width: 10.7rem;
  padding: 0.65rem 0.65rem;
  margin: 1rem 0rem 1.5rem 0rem;
}
.play .second__play__container {
  padding: 0.8rem;
}
@media screen and (min-width: 1280px) {
  .play .second__play__container {
    grid-column: 1/1;
    grid-row: 2/2;
    margin: auto;
  }
}

.footer {
  margin-top: 1.1rem;
  background-color: #011827;
  color: white;
  height: 20rem;
  padding: 2rem 1rem 2rem 1rem;
}
@media screen and (min-width: 1280px) {
  .footer {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    padding: 4rem;
    height: 16rem;
  }
}
.footer .company {
  margin-top: 0.3rem;
}
@media screen and (min-width: 1280px) {
  .footer .company {
    margin: 0;
  }
}
.footer .company .company__heading {
  font-size: 0.6rem;
  font-weight: 700;
  margin: 0;
}
.footer .company .company__text {
  font-size: 0.6rem;
  margin-top: 0.25rem;
  width: 14rem;
}
.footer .contact {
  margin-top: 1.5rem;
}
@media screen and (min-width: 1280px) {
  .footer .contact {
    margin: 0;
  }
}
.footer .contact .contact__heading {
  font-size: 0.6rem;
  font-weight: 700;
  margin: 0;
}
.footer .contact .contact__list {
  list-style-type: none;
  padding: 0;
  margin-top: 0.25rem;
}
.footer .contact .contact__list a {
  color: white;
  text-decoration: none;
  font-size: 0.6rem;
  display: block;
}
.footer .contact .contact__play {
  list-style: none;
  padding: 0;
}
.footer .contact a {
  color: white;
  text-decoration: none;
  font-size: 0.6rem;
  display: block;
}
.footer .media {
  margin-top: 1.5rem;
}
@media screen and (min-width: 1280px) {
  .footer .media {
    margin: 0;
  }
}
.footer .media .media__heading {
  font-size: 0.6rem;
  font-weight: 700;
  margin: 0;
}
.footer .media .media__list {
  list-style-type: none;
  padding: 0;
  margin-top: 0.25rem;
}
.footer .media .media__list a {
  color: white;
  text-decoration: none;
  font-size: 0.6rem;
  display: block;
}

* {
  max-width: 100%;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  background-color: #011827;
}

body {
  padding: 0;
  margin: 0;
  max-width: 1500px;
  margin: auto;
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
