@use "./lib.scss" as *;

.content {
    display: flex;
    flex-direction: column;
    h1{
      font-size: 1.1rem;
      text-align: center;
      font-weight: 400;
    }
    .content__room__container{
      display: flex;
      overflow-x: auto;
      margin: 0rem 0rem 0.2rem 1rem;
      &::-webkit-scrollbar{
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
      @include breakpoint($large-screen-breakpoint){
        overflow-x: hidden;
        margin: 0 auto;
        justify-content: space-evenly;
        padding-bottom: 1rem;
        max-width: 1200px;
        gap: 1rem;
        
      }
    }
    .room__img{
      width: 100%;
    }
    .room{
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
      margin: 0.7rem;
      border-radius: 0.4rem;
      width: 13rem;
      @include breakpoint($large-screen-breakpoint){
        margin: 0;
      }
    }
    .room__heading{
      font-size: 1rem;
      font-weight: 400;
      margin: 0;
      padding-left: 0.5rem;
    }
    .room__stars{
      display: flex;
      align-items: center;
      padding: 0 0 0 0.5rem;
    }
    .room_participants{
      font-size: 0.5rem;
      margin: 0;
      padding: 0.2rem;
      text-align: center;
      @include breakpoint($large-screen-breakpoint){
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-right: 0.2rem;
      }
    }
    .room__info{
      font-size: 0.6rem;
      padding: 0.5rem 0.5rem 0 0.5rem;
      margin: 0;
    }
    .room__button__container{
      display: flex;
      justify-content: flex-end;
      padding: 0.5rem;
    }
    .room__button{
      @include redButton
    }
    .content__navigation {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      @include breakpoint($large-screen-breakpoint){
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding-bottom: 3.1rem;
      }
    }
    .content__navigation__button{
      @include blueButton;
    }
    .content__navigation__link{
      @include buttonLink;
      @include breakpoint($large-screen-breakpoint){
        @include bigRedButtonDesktop;
        order: -1;

      }
    }
    .content__story{
      background-color: $dark;
    }
    .story__container{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.6rem 1rem 3rem 1rem;
      @include breakpoint($large-screen-breakpoint){
        padding: 4.2rem 1rem 7rem 1rem;
      }
    .story__text{
      font-size: 1rem;
      color: $white;
      font-weight: 400;
      text-align: center;
      padding: 0.8rem 0.5rem;
      @include breakpoint($large-screen-breakpoint){
      width: 21rem;
      }
      
    }
    .story__button{
      @include darkButton;
      
    }
  }
  }
