@use "./lib.scss" as *;

.footer {
  margin-top: 1.1rem;
  background-color: $dark;
  color: $white;
  height: 20rem;
  padding: 2rem 1rem 2rem 1rem;
  @include breakpoint($large-screen-breakpoint) {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    padding: 3rem;
    height: 16.6rem;
  }
  .footer__company {
    margin-top: 0.3rem;
    @include breakpoint($large-screen-breakpoint) {
      margin: 2.3rem 0rem 0rem 1rem;
    }
    .footer__heading--company {
      font-size: 0.6rem;
      font-weight: 700;
      margin: 0;
    }
    .footer__text {
      font-size: 0.6rem;
      margin-top: 0.25rem;
      width: 14.5rem;
    }
  }
  .footer__contact {
    margin-top: 1.5rem;
    @include breakpoint($large-screen-breakpoint) {
      margin-top: 2.3rem;
    }

    .footer__heading--contact {
      font-size: 0.6rem;
      font-weight: 700;
      margin: 0;
    }
    .footer__list--contact {
      list-style-type: none;
      padding: 0;
      margin-top: 0.25rem;
      a {
        color: $white;
        text-decoration: none;
        font-size: 0.6rem;
        display: block;
      }
    }
    .footer__list--play {
      list-style: none;
      padding: 0;
    }
    a {
      color: $white;
      text-decoration: none;
      font-size: 0.6rem;
      display: block;
    }
  }
  .footer__media {
    margin-top: 1.5rem;
    @include breakpoint($large-screen-breakpoint) {
      margin-top: 2.3rem;
    }
    .footer__heading--media {
      font-size: 0.6rem;
      font-weight: 700;
      margin: 0;
    }
    .footer__list--media {
      list-style-type: none;
      padding: 0;
      margin-top: 0.25rem;
      a {
        color: $white;
        text-decoration: none;
        font-size: 0.6rem;
        display: block;
      }
    }
  }
}
