@use "./lib.scss" as *;
.introduction{

    .introduction__image{
        width: 100%;
        
    }
    .introduction__buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
    .introduction__onsite{
        @include bluebutton;
    }
    .introduction__online{
        @include buttonLink;
    }
    .reviews{
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        padding: 1rem;
        gap: 0.5rem;
    }
    .reviews__container{
        display: flex;
        flex-direction: column;
    }
    .reviews__text{
        margin: 0;
        font-size: 0.8rem;
        font-style: italic;
    }
    .reviews__date{
        margin: 0;
        font-size: 0.6rem;
        margin-top: 0.2rem;
    }
}