@use "./lib.scss" as *;
.introduction{

    .introduction__image__mobile{
        width: 100%;
        @include breakpoint($large-screen-breakpoint){
            display: none;
        }
    }
    .introduction__image__desktop {
        display: none;
        @include breakpoint($large-screen-breakpoint){
            display: block;
            width: 100%;
        }
    }
    .introduction__buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        @include breakpoint($large-screen-breakpoint) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }
    }
    .introduction__onsite{
        @include blueButton;
    }
    .introduction__online{
        @include buttonLink;
        @include breakpoint($large-screen-breakpoint){
            @include bigRedButtonDesktop;
            order: -1;
        }
    }
    .reviews{
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        padding: 1rem;
        gap: 0.5rem;
    }
    .reviews__container{
        display: flex;
        flex-direction: column;
    }
    .reviews__text{
        margin: 0;
        font-size: 0.8rem;
        font-style: italic;
    }
    .reviews__date{
        margin: 0;
        font-size: 0.6rem;
        margin-top: 0.2rem;
    }
}