/*Project Colors*/
$red: #e3170a;
$dark: #011827;
$gray: #b6bdb5;
$blue: #36769d;
$lightblue: #8acfe5;
$white: white;
$black: black;
/*Screen size variables*/
$large-screen-breakpoint: 1280px;
$medium-screen-breakpoint: 700px;
$max-screen-breakpoint: 1500px;

/*Project button mixins*/
@mixin blueButton {
  background-color: $lightblue;
  padding: 0.66rem 1.93rem;
  font-size: 0.85rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  color: $black;
}
@mixin buttonLink {
  text-decoration: underline;
  background-color: white;
  border: none;
  padding: 1rem;
  color: $blue;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.6rem;
}
@mixin redButton {
  background-color: $red;
  font-size: 0.6rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  color: $white;
  padding: 0.4rem 1.2rem;
}
@mixin bigRedButton {
  background-color: $red;
  font-size: 0.85rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  color: $white;
  width: 10.7rem;
  padding: 0.65rem 0.65rem;
}
@mixin bigRedButtonDesktop {
  background-color: $red;
  color: $white;
  padding: 0.7rem 2.32rem;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
@mixin darkButton {
  background-color: $dark;
  border: 2px solid $lightblue;
  padding: 0.7rem 2.22rem;
  font-size: 0.85rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  color: $lightblue;
}
/*Project screen-size mixins*/
@mixin breakpoint($min-size) {
  @media screen and (min-width: $min-size) {
    @content;
  }
}
